.tree-tag {
  width: 20px;
  height: 20px;
  margin-right: auto;
  transform: translateY(-3px);
  margin-left: 20px;
  cursor: pointer;
}

.tree-app {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 300px;
  background-color: gray;
}

.tree-container {
  height: 100%;
  background: #ecf0f1;
  position: absolute;
  top: 0;
  overflow-y: scroll
}

.bar {
  background: #bdc3c7
}
